admin + freenode:Cale
admin + freenode:Igloo
admin + freenode:Lemmih
admin + freenode:Pseudonym
admin + freenode:TheHunter
admin + freenode:dons
admin + freenode:gwern
admin + freenode:igli
admin + freenode:int-e
admin + freenode:musasabi
admin + freenode:shapr
admin + freenode:sjanssen
admin + freenode:sorear
admin + freenode:vincenz
admin + freenode:elliott
admin + freenode:byorgey
