join freenode:#haskell
join freenode:#haskell-lens
join freenode:#haskell-infrastructure
join freenode:#haskell-blah
join freenode:#haskell-books
join freenode:#haskell-in-depth
join freenode:#haskell-overflow
join freenode:#haskell-gsoc
join freenode:#haskell-soc
join freenode:#haskell-llvm
join freenode:#haskell.au
join freenode:#haskell.tw
join freenode:#haskell-pl
join freenode:#haskell-br
join freenode:#haskell.cz
join freenode:#haskell.de
join freenode:#haskell.dut
join freenode:#haskell.es
join freenode:#haskell.fi
join freenode:#haskell-fr
join freenode:#haskell.hr
join freenode:#haskell.it
join freenode:#haskell.jp
join freenode:#haskell.no
join freenode:#haskell.ru
join freenode:#haskell.se
join freenode:#haskell_ru
join freenode:#haskell-beginners
join freenode:#agda
join freenode:#xmonad
join freenode:#diagrams
join freenode:#snapframework
join freenode:#numerical-haskell
join freenode:#yi
join freenode:##logic
join freenode:#haskell-arcade
join freenode:#arch-haskell
join freenode:#darcs
join freenode:#learnanycomputerlanguage
join freenode:#learnprogramming
join freenode:##programming
join freenode:##proggit
join freenode:#dreamlinux-es
join freenode:#haskell-FreeBSD
join freenode:#haskell-game
join freenode:#macosxdev
join freenode:#friendly-coders
join freenode:#gentoo-haskell
join freenode:#fedora-haskell
join freenode:#gentoo-uy
join freenode:#ghc
join freenode:#happs
join freenode:#jhc
join freenode:##crypto
join freenode:#jtiger
join freenode:#functionaljava
join freenode:#scalaz
join freenode:#macosx
join freenode:#rosettacode
join freenode:#scala
join freenode:#mainehackerclub
join freenode:#scannedinavian
join freenode:#unicycling
join freenode:##manatee
join freenode:#esoteric
join freenode:#hscraft-srv
join freenode:##VillageGreen
join freenode:#tanuki
join freenode:#csa_uva
join freenode:#ledger
join freenode:##categorytheory
join freenode:#lw-prog
join freenode:#lesswrong
join freenode:##megaharem
