rc scripts/online/password.rc
irc-connect freenode chat.freenode.net 6667 saki-chan Saki-chan
admin + freenode:matematikaadit
admin + freenode:kusut
admin + freenode:edom
join freenode:#docker-id
join freenode:#golang-id
join freenode:#haskell-id
join freenode:#python-id
join freenode:#ubuntu-indonesia
run 0
